.navAndFooter {
    
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
}

.class_li{
    text-align: center;
}
.class_li:hover{
    border-bottom: darkorange solid 3px;
}

.white {
    background-color: white;
}
