* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-zoo1 {
    background-color: #93a42a;
}

.card-zoo2 {
    background-color: #fdffd9;
}

.card-zoo3 {
    background-color: #253342;
}

.card-zoo4 {
    background-color: #f07241;
}

.galeria .imgContainer {
    position: relative;
	overflow: hidden;
}

.galeria .imgContainer img {
	transition: transform 1s ease-out;
}

.galeria .imgContainer:hover img{
    transform: scale(1.2);
    border: 2px solid papayawhip;
    border-radius: 50%;
}

/* Aplicacion de hober a los botones indice del header */
.class_li{
    text-align: center;
}
.class_li:hover{
    border-bottom: darkorange solid 3px;
}

/* ajuste a boton y barra de busqueda */
.class_input {
    text-align: center !important;
    border: none !important;
    border-bottom: 3px solid lightslategray !important;
    color: white !important;
    border-radius: 15px !important;
    background-color: transparent !important;
}
.class_input:focus {
    color: white !important;
    outline: none !important;
    background: linear-gradient(to bottom, transparent, #444) !important;
}
.class_bottom_search{
    background-color: #1c5560 !important;
    border-color: #1c5560 !important;
    color: white !important;
}
.class_bottom_search:hover {
    background-color:#253342 !important;
}
/* ajuste de input, boton buscar y el indice header en modo movil y tablet */

@media screen and (max-width: 991px){
    .class_input{
        margin-bottom: 15px !important;
    }
    .class_bottom_search{
        margin-bottom: 15px !important;
    }
    /*.class_li{
        text-align: end;
    }*/
}
/* Fin del ajuste del css nav */

/* ajuste de main de contactanos */
.main_contactanos {
    background-image: url(../assets/images/fondo-contactos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}
.h_de_contactanos {
    padding: 15px;
    color: white;
    width: 100%;
    background: rgb(0, 0,0, 0.3);
}
.div_container_contactanos{
    margin: 2em;

}
.input_style_contactos {
    border-radius: 15px;
    text-align: center;
    border: none;
    border-bottom: 3px solid lightslategray;
    color: white;
    background-color: transparent;
}
.input_style_contactos:focus {
    outline: none;
    background: linear-gradient(to bottom, transparent, #555);
}
.textarea_style_contactos {
    resize: none;
    border-radius: 15px;
    text-align: center;
    border: none;
    border-bottom: 3px solid lightslategray;
    color: white;
    background-color: transparent;
    height: 5em;
}
.textarea_style_contactos:focus {
    outline: none;
    background: linear-gradient(to bottom, transparent, #555);
    border-bottom: 3px solid lightslategray;
}

<<<<<<< HEAD
.main_histori{
    background-image: url(../assets/images/fondo-historia.jpg);
=======
.i{
    color: white;
}
i:hover{
    color: green;
>>>>>>> ccd2c77669824bc7a1882ad13b65b331c8ed3187
}